<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Startup India</title>
  <%- include ("partials/link.ejs"); -%>
</head>

<body>
  <%- include ("partials/navbar.ejs"); -%>
  <div class="fluid-container" style="margin-top: 100px;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Project Name</th>
          <th>Investor Name</th>
          <th>Investor Organisation</th>
          <th>Investor Proposal</th>
          <th>Bid Amount</th>
          <th>Approve</th>
        </tr>
      </thead>
      <tbody>
        <% foundAllInvestors.forEach(element => { %>
        <% element.investAmount.forEach(item => { %>
        <tr>
          <td><%= element.investAmount.indexOf(item) + 1 %> </td>
          <td><%= element.projectName %> </td>
          <td><%= item.investorId.fullName %> </td>
          <td><%= item.investorId.organisationName %> </td>
          <td><%= item.proposal %> </td>
          <td><%= item.amount %> </td>
          <td><a href="/approve/<%= element._id %>/investAmount/<%= item._id %> " role="button"
              class="btn btn-md btn-success">Approve</a></td>
        </tr>
        <% }); %>

        <% }); %>
      </tbody>
    </table>
  </div>
</body>

</html>